<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        <h1 class="site-title">{{ site.title }}</h1>
        <h3 class="site-career">Creative Developer</h3>
        <strong>Things I am doing:</strong>
        <ol>
          <li>Working remote for <a href="//imgur.com">Imgur</a> as a Front-end Engineer and Manager</li>
          <li>Exploring my personal branding</li>
          <li>Writing about product and team dynamics</li>
          <li>Reading: The Design of Everyday Things by Don Norman</li>
          <li>Preparing to hike Half Dome in Yosemite</li>
        </ol>
        {{ content }}
      </div>
    </div>

  </body>

</html>
