<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        <h1 class="site-title">{{ site.title }}</h1>
        <h3 class="site-career">Creative Developer</h3>
        <strong>Things I am doing:</strong>
        <ol>
          <li>Working remote for <a href="//imgur.com">Imgur</a> as a Senior Software Engineer</li>
          <li>Learning to make wood products by hand.</li>
          <li>Reading: The Man in the Mirror by Patrick Morley</li>
        </ol>
        {{ content }}
      </div>
    </div>

  </body>

</html>
